*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.countainer{
    width: 100%;
    height: auto;
  

}
.navbar{
    width: 100%;
    height: 100px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    position: sticky;
    top: 0%;

}

.navbar img{
    width: 150px;
}
.navbar ul{
    width: 60%;
    height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar ul li{
    width: 15%;
    height: 15px;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 100;
}
.navbar ul button{

    width: 20%;
    height: 50px;
    background-color: green;
    font-size: 15px;
    border-radius: 30px;
    border: none;
}
.navbar button:hover{
    background-color: black;
    color: white;
}

.main-countainer{
    width: 100%;
    height: auto;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero-section{
    width: 90%;
    height: 800px;
     background-image: url(316546300_547692113846445_7299710494491288098_n.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.text-pard{
    width: 45%;
    height: 500px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

}
.text-pard h1{
    font-size: 70px;
    color: white;
}
.text-pard p{
    font-size: 18px;
    color: white;
    margin-top: 20px;
}
.text-pard button{
    width: 30%;
    height: 50px;
    background-color: green;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
}


.img-pard{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img-pard img{
    width: 430px;
}

.frnd{
    width: 100%;
    height: 400px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;

}
.frnd img{
    width: 90%;
}
.scop-section{
    width: 100%;
    height: 200px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scop-section h1{
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.two-section{
    width: 100%;
    height: auto;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section{
    width: 35%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.text-section h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;}

.text-section p{
    font-size: 19px;
    font-weight: 100;
    margin-top: 15px;

}
.text-section span{
    font-size: 20px;
    margin-top: 15px;
    border-bottom: 1px solid green;
}
.text-section span:hover{
    color: green;
}

.img-section{
    width: 35%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-section img{
    width: 280px;
}
.patel-section{
    width: 100%;
    height: auto;
    background-color: rgb(37, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;

}
.patel{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.patel img{
    width: 450px;
}
.thakur{
    width: 40%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.thakur h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.thakur p{
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-top: 15px;
}
.thakur h6{
    font-size: 20px;
    color: white;
    font-weight: 100;
    margin-top: 15px;
    border-bottom: 1px solid green;

}
.thakur h6:hover{
    background-color: rgb(113, 219, 113);
    color: green;
}
.mantari{
    width: 100%;
    height: 600px;
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: center;
    justify-content: center;
}

.jidagi{
    width: 100%;
    height: 700px;
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.sarkit{
    width: 40%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sarkit img{
    width: 250px;
}

.bada-section{
    width: 40%;
    height: 700px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.bada-section h1{
    font-size: 60px;
    font-weight: 100;
    /* font-family: Arial, Helvetica, sans-serif; */

}


.bada-section p{
    font-size: 19px;
    font-weight: 100;
    margin-top: 15px;

}
.bada-section span{
    font-size: 20px;
    margin-top: 15px;
    border-bottom: 1px solid green;
}
.bada-section span:hover{
    color: green;
}
.mahsoes{
    width: 100%;
    height: 600px;
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.mr-section{
    width: 100%;
    height: 600px;
    background-color: #c6ebc6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trt{
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trt h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-bottom: 400px;

}
.classes{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid black;
    margin-top: 400px;
    
}
.classes:hover{
    background-color: black;
    color: white;
}
.prt{
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 80%;
    height: 450px;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-inline: 60px;
    border-radius: 20px;
    
  
}
.box i{
    font-size: 30px;
}
.box h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-top: 15px;

}
.box p{
    font-size: 17px;
    margin-top: 15px;
    font-weight: 100;
}
.box button{
    width: 40%;
    height: 50px;
    margin-top: 20px;
    border-radius: 23px;
    border: 1px solid black;
    font-size: 14px;

}
.box button:hover{
    background-color: black;
    color: white;
}
.last-section{
    width: 100%;
    height: auto;
    background-color: rgb(63, 60, 60);
    
}
.last{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.last ul{
    width: 50%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 50px;
}
.last ul li{
    width: 50%;
    list-style: none;
    font-size: 20px;
    color: white;
}

.last img{
    position: relative;
    top: 70px;
    right: 490px;
}

.last button{
     position: relative;
    top: -10px;
    right: 490px;
    width: 10%;
    height: 50px;
    background-color: green;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 25px;
}
.last button:hover{
    background-color: white;
}

.last hr{
    width: 85%;
    height: 0%;
    font-weight: 100;
    margin-top: 30px;

}
.mobile{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}
.scop{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(92, 90, 90);
    color: white;
    border: 1px solid black;
    
}
.scop:hover{
    background-color: green;
}
.sarkar1{
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sarkar{
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sarkar p{
    color: white;
    font-size: 15px;
}
.sarkar2{
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sarkar2 button{
   
    width: 40%;
    height: 50px;
    margin-top: 20px;
    border-radius: 23px;
    border: 1px solid black;
    font-size: 14px;
    color: white;
    background-color: rgb(27, 25, 25);

    
}



@media (max-width:768px){

    .countainer{
        width: 100%;
        height: auto;
    }

    .navbar{
        width: 100%;
        height: 80px;
        /* padding-inline: 30px; */
        display: flex;
        justify-content: space-evenly;

    }
    .navbar ul li{
        display: none;
    }

    .navbar ul button{
        width: 120px;
    }

    .main-countainer{
        width: 100%;
        height: auto;
    }
    .hero-section{
        width: 100%;
        height: 300px;
    }
    .hero-section img{
        background-position: center;
        background-size: cover;
    }

    .text-pard{
        width: 100%;
        height: auto;
        padding-left: 30px;
    }
    .text-pard h1{
        font-size: 30px;
    }

    .text-pard button{
        width: 120px;
    }

    .img-pard{
        display: none;
    }

    .frnd{
        width: 100%;
        height: 200px;
    }


    .scop-section{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .scop-section br{
        display: none;
    }

    .scop-section h1 {
        font-size: 28px;
        padding-inline: 40px;
        
    }

    .two-section{
        width: 100%;
        height: auto;
        display: flex;
    flex-direction: column-reverse;
    }

    .text-section{
        width: 100%;
        height: auto;
        padding-inline: 30px;
        padding-bottom: 40px;

        
    }

    /* .text-section br{
        display: none;
    } */

    .text-section h1{
        font-size: 30px;
        
    }

    .img-section{ 
        width: 100%;
        height: auto;
   
  
    }

    .img-section img{
    width: 50%;
    padding-top: 30px;
    }

    .patel-section{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .patel{
        width: 100%;
        height: auto;
    }
    .patel img{
        width: 50%;
        padding-top: 20px;
    }

    .thakur{
        width: 100%;
        height: auto;
        padding-inline: 30px;
        padding-bottom: 50px;
        
    }

    .thakur h1{
        font-size: 30px;
    }
    .thakur p br{
        display: none;
    }

    .mantari{
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
    }

    .jidagi{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .sarkit{
        width: 100%;
        height: auto;
        padding-top: 100px;
    }

    .sarkit img{
        width: 50%;
    }

    .bada-section{
        width: 100%;
        height: auto;
        padding-inline: 40px;
        padding-top: 40px;
    }

    .bada-section h1{
        font-size: 40px;
    }
    .bada-section p br{
        display: none;
    }

    .bada-section p{
        font-size: 21px;
        font-weight: 100;
    }

    .mahsoes{
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
        padding-top: 80px;
    }

    .text-section{
        width: 100%;
        height: auto;
        /* padding-top: 40px; */
    }

    .text-section p br{
        display: none;
    }

    .mr-section{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .trt{
        width: 100%;
        height: auto;
        
    
    }
    .prt{
        width: 100%;
        height: auto;
        /* padding-top: 30px; */
        padding: 50px;

    }

    .trt h1{
        font-size: 40px;


    }
    .last-section{
        width: 100%;
        height: auto;
       
        /* flex-direction: column; */
    }

    .last{
        width: 100%;
        height: auto;
        /* padding-right: 600px; */
     
    }
    
    .last ul li{
        width: 100%;
        height: auto;
        font-size: 18px;
        /* flex-direction: column; */
    }
    .last ul{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding-left: 20px;
        /* padding: 50px; */
    }

    .mobile{
        width: 100%;
        height: 150px;
    }

    .sarkar{
        display: none;
    }

    .sarkar1{
        width: 50%;
        height: auto;
    }
    .sarkar2{
        width: 50%;
        height: auto;
    }








    



    



}


